# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
meeting minutes
mr mujeeb: briefly ran through what dev has built so far, include home page, scholarship page, and login page, etc for the ... platform
mr santos worked on clarity btw prd and the other docs
mr mujeeb isn't certain of the actual number of pages to be put up, but could deduce the number of flows, etc
eduaid defined by mr mujeeb after being asked by mr santos, then mr santos made sure to clear the details of eduaid where the actual official documents were read out
our approach leaverages advanced technology to provide a seamless experience for students and parents
partnerships with various institutions and organizations to provide a wide range of scholarships, aid, etc e.g parternership with the UN, african union (due to the african agrenda 63) etc
diaspora especially african-diaspora willing To give back to their communities. Aims to collaborate with them
sustainabilit, CSR, etc
CAREer labs to help students with their career paths, via voice over etc
mission aligns to global sustainability goals
key featueres read out by mr mujeeb
homepage, about us, 
flows with priority:
apply for exams: formal and informal
people should donate

4 page brochure of eduaid read out by mr mujeeb:
empowering students
train teachers
global csr funding
CSR fund managementscholarship and fund flow
...
school 
teachers training short term mid-term long term (flow)
career mentorship program (flow)
physical funding 
ambassadot and diaspora local chapter

why partner with us
real time wallet and dashboard tracking by super admin and donor
verified schools
CTA:
- get involved
metrics for fund raising via scholarships (up to $1million)









# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/
/dist

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env
# vscode
.vscode
