Flows to be implemented 
1. admin
2. Tickets: e.g Choosing to attend the award dinner: revamp section on landing page, create Get your Ticket flow,to be linked with external ticketing apis

3. general user Sign up revamp: to fit figma, to include choice of country (residence or nationality), email sent containing details of User types and CTAs to make choice
--the user types :
Ambassadors, members, sponsor
amb. 1
amb. 2
amb. 3

4. Get Involved flows: volunteer, donate, partner, sponsor
5. Judges separation: into competitive and non-competitive categories
6. API to upload Logos, 
7. these logos are clickable to page containing their about details.(displays nummber of views)
6. implement an advertise with us CTA flow for other organizations. (displays number of views)
7. wallet and voting points/afri gold coin integration
9. judges arena and chat application
10. judges portal with the ability to see number of nominations per nominee
11. separation of judges into competitive and non-competitive awards
12 flow to choose between download of certificates, presented by reps of the local chapter or attending the gala (non-competitive:nominees are screened then can download their cetificates, and options to attend the gala
the certificates are indexed and can be verified (uniqueness))
13. nesaTV real time comment section integration
14. competitive: nomines go to the judges portal first, then assessed then can be pushed out for voting
15. automate youtube storing for competitive and non-competitive nominee videos on upload, with description to link back to NESA
16. implement that all CTAs are fully functiional.

rotimi deliverables:
1. real time chat application for judges backend integration
2. comment section for nesaTV
3. judges portal with the ability to see number of nominations per nominee
4. revamp email sent after Sign up to contain CTAs for users to upgrade to ambassador, sponsor, or member
5. publish live all APIs for easy access




create a page for the scholarship
CSR to reach out to more people than the traditional award
Being nominated on NESA will warrant creating account for you automatically
how companies can partner 
word of mouth from us
advert
reach out by themselves
random companies matches the beneficiaries in terms of fundings

                                     users
                                     
                                           
        general users                         admin             CSR partners    
individuals         organizations       


Audio
nesaTV
schools can register long term for their students
upload to archives



todos
landing page/homepage(already put up), about us(put this up)
merchandise missing 
santos (ecommerce)
oauth for all projects

3rd party examination
-
general users:

CSR partners:
fund projects
admin
ambassadonrs
volunteers
interns

Dashboards
1 admin
-overview
-user role and management
-donation and funs allocation
-impact reports
-platform configuration

8, scholarship grants and exams dashboard.
-scholarship application processing
-exams REGISTRATIONN AND SCHEDULE
-online exam proctoring and grading
-scholarship disbursement tracking
-notification and approval system
scholarship 
-Academics    and vocational
schools based       skills based

-partner institutions and non-partner institutions
benefits                        terms and conditions

-user role and management
2. donor:
-overview
-donate to scholarships or projects
-track fund utilization
-download donation receipts and reports
-set recurring donations
-view sponsored schools and students
-extended page (projects) 
-tax receipts 
-make a donation
3. students
-overview
-apply for scholarships and grants
-register and pay for exams (online)
-access learning resources
-join career guidiance program

- extended page under scholarship(projects)

- register and page for online exams

4. educator and instructor 
-overview
-upload and manage online courses (2 extended pages underneath)
-conduct live webinars and trainings
-track students profile
-manage certifications and exams
-apply for teaching grants

5. Ambassadors and volunteers
-overview
-manage local chapters activities
-nominate and vote for projects
-organize awareness campaign
-track Ambassadors ranking
-submit impact reports

6. partnerships and CSR funding
-overview
-funding projects directly
-allocate csr funds to school
-approve disbursement of funds
-generate financial reports
-assess real time projects

7. local chapters
- overview
-register and manage local chapters (online and hybrid) 
 residence and nationality
- propose and track local projects    
-submit chapter impact reports
-organize events and training
-fund raise for local initiatives



9. wallet and payment dashboard
-overview
- fund wallet and withdraw earning
-track transaction and payment history
-currency conversion and afri gold coin integration
-pay for exams certifications and events
-manage donation and allocation

10 impact and transparency dashboard
-live fundraising and impact countries
-beneficiaries success stories
-financial transparency reports
-project progress tracking
-data analyrtics and insights

11 hall of achievers dashboard
-overview
-display donors and volunteers
-track contributions and milestones
-leaderboard for active participants
-publish appreciation message

12 2nd hall of achievers dashboard
-overview
-register conferences and expos
-host  and schedule education events
leaderboard for active participants
-publish appreciation message

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
meeting minutes
mr mujeeb: briefly ran through what dev has built so far, include home page, scholarship page, and login page, etc for the ... platform
mr santos worked on clarity btw prd and the other docs
mr mujeeb isn't certain of the actual number of pages to be put up, but could deduce the number of flows, etc
eduaid defined by mr mujeeb after being asked by mr santos, then mr santos made sure to clear the details of eduaid where the actual official documents were read out
our approach leaverages advanced technology to provide a seamless experience for students and parents
partnerships with various institutions and organizations to provide a wide range of scholarships, aid, etc e.g parternership with the UN, african union (due to the african agrenda 63) etc
diaspora especially african-diaspora willing To give back to their communities. Aims to collaborate with them
sustainabilit, CSR, etc
CAREer labs to help students with their career paths, via voice over etc
mission aligns to global sustainability goals
key featueres read out by mr mujeeb
homepage, about us, 
flows with priority:
apply for exams: formal and informal
people should donate

4 page brochure of eduaid read out by mr mujeeb:
empowering students
train teachers
global csr funding
CSR fund managementscholarship and fund flow
...
school 
teachers training short term mid-term long term (flow)
career mentorship program (flow)
physical funding 
ambassadot and diaspora local chapter

why partner with us
real time wallet and dashboard tracking by super admin and donor
verified schools
CTA:
- get involved
metrics for fund raising via scholarships (up to $1million)









# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/
/dist

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env
# vscode
.vscode
