.homeHeader::before {
  // content: "";
  // position: absolute;
  // right: 0;
  // bottom: 0;
  // width: 600px;
  // height: 600px;
  // background: radial-gradient(#e0aa3e69, rgba(0, 0, 0, 0));
  // border-radius: 50%;
  // z-index: 2;
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
  from {
    transform: translateX(0);
  }
}

@mixin fade($width) {
  content: "";
  position: absolute;
  top: -3px;
  height: 110%;
  width: $width;
  z-index: 2;
}

.head-scroll-con {
  position: relative;
  padding: 8px 0;
  white-space: nowrap;

  &::after {
    @include fade(400px);
    right: 0;
    background: linear-gradient(to left, #13100d, #13100d5e, rgba(0, 0, 0, 0));
  }

  &::before {
    @include fade(400px);
    left: 0;
    background: linear-gradient(to right, #110d07, #110d0763, rgba(0, 0, 0, 0));
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .head-scroll-text {
    display: inline-block;
    animation: scroll 10s linear infinite;
  }
}

.award_con {
  &::after {
    @include fade(50px);
    right: 0;
    background: linear-gradient(to left, #fff, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }

  &::before {
    @include fade(50px);
    left: 0;
    background: linear-gradient(to right, #fff, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
}

.scroll-el {
  animation: scroll 10s linear infinite;
}
