@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

._under_border {
  position: relative;
  width: fit-content;
}

::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: block;
}

::-webkit-scrollbar-thumb {
  background: #ffc247;
  border-radius: 3px;
}

::-moz-selection {
  background: #ffb92e3f;
}

::selection {
  background: #ffb92e3f;
}

._under_border::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 60%;
  left: 0;
  background-color: #ffb92e;
  border-radius: 5px;
}

._under_border_center {
  position: relative;
}

._under_border_center::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 60%;
  left: 78px;
  background-color: #ffb92ed1;
  border-radius: 5px;
}

.hide_scroll::-webkit-scrollbar {
  display: none;
}

input:focus,
button:focus {
  outline: none;
}
/* In your global CSS or a style block */
.overflow-x-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}