.insidecont{
    margin-right: 35px;
    margin-left: 35px;
}

.grid{
    display: flex;
    justify-content: space-between;
    gap: 50px
}
.leftcol{
    width: 100%;
}
.image{
    width: 40%;
}
.img{
  width: 100%;
}



@media (min-width:768px) and (max-width: 1024px)  {
  .grid {
    flex-direction: row;
    align-items: flex-start;
  }

}

@media (max-width: 767px) {
  .grid {
    display: grid;
    flex-direction: row;
    align-items: center;  
  }
  .image{
    width: 70%;
    justify-content: center;
  }
  .leftcol{
    width: 100%;
  }
  .insidecont{
    margin-right: 10px;
    margin-left: 10px;
}
}
